.postCarouselSwiper .swiper-slide {
    z-index: 1;
    opacity: 0.5;
}
.postCarouselSwiper .swiper-slide-prev, .postCarouselSwiper .swiper-slide-next {
    z-index: 50
}
.postCarouselSwiper .swiper-slide-active {
    z-index : 100;
    opacity: 1;
}
