input[type='date'] {
  position: relative;
}


input[type='date']::before {
  content: attr(placeholder);
  width: 100%;
  color: gray;
  z-index: 0;
  position: absolute;
}


input[type='date']:valid::before {
  display: none;
}


input[type='date']::-webkit-datetime-edit-text,
input[type='date']::-webkit-datetime-edit-month-field,
input[type='date']::-webkit-datetime-edit-day-field,
input[type='date']::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}


input[type='date']:valid::-webkit-datetime-edit-text,
input[type='date']:valid::-webkit-datetime-edit-month-field,
input[type='date']:valid::-webkit-datetime-edit-day-field,
input[type='date']:valid::-webkit-datetime-edit-year-field {
  display: inline;
}


input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}