/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
@font-face {
  font-family: "Jua-Regular";
  font-weight: normal;
  src: url("./fonts/Jua-Regular.ttf") format("truetype");
}
