.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  border: 2px solid #8900E1;
  max-width: calc(100% - 530px);
  gap: 10px;
}

.loginContainer input {
  border: 1px solid #8900E1;
  border-radius: 12px;
}

.loginButton {
  background-color: #8900E1;
  border-radius: 6px;
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}