.borderAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent; /* 보더 색상 초기화 */
  transform: scale(0); /* 초기 상태에서 스케일 0 */
  transition: transform 1s forwards; /* 전환 효과 */
}

.group:hover .borderAnimation {
  animation: draw-border 1s forwards; /* 호버 시 애니메이션 적용 */
}

@keyframes draw-border {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scaleX(1); /* 왼쪽에서 오른쪽으로 그리기 */
  }
  50% {
    transform: rotate(90deg); /* 시계 방향으로 회전 */
  }
  75% {
    transform: scaleX(1) rotate(90deg); /* 오른쪽에서 아래쪽으로 그리기 */
  }
  100% {
    transform: scale(1); /* 완전하게 나타나기 */
  }
}
